:root {
    --main: #406E84;
    --secondary: #EB9D5D;
    --mid-light: #D2CFDF;
    --light: #FFF4EB;
    --banger-btn: #C40202
  }

  .dash-card {
    cursor: pointer;
    transition: transform .4s; 
  }

  .dash-card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  

  /* Styles for the mobile numbers list container */
.mobile-numbers-container {
  padding: 10px; /* Padding around the list */
  border: 1px solid #ccc; /* Border around the list */
  border-radius: 5px; /* Rounded corners */
}

/* Styles for the header row */
.header-row {
  background-color: #f0f0f0; /* Background color for the header */
  padding: 10px;
  border-bottom: 1px solid #ccc; /* Border below the header */
}

/* Styles for the header cell */
.header-cell {
  font-weight: bold; /* Bold font for the header */
}

/* Styles for each row in the list */
.list-row {
  padding: 10px; /* Padding around each row */
  border-bottom: 1px solid #ccc; /* Border between rows */
}



.chat-bubble {
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  max-width: 80%;
}

/* Style for short text */
.short-text {
  background-color: lightblue;
}

/* Style for medium text */
.medium-text {
  background-color: lightgreen;
}

/* Style for long text */
.long-text {
  background-color: lightcoral;
}

/* Class to align chat bubble to the right */
.align-right {
  margin-left: auto; /* This will align the chat bubble to the right */
  text-align: right;
}

 
.fullscreen-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.fullscreen-overlay.visible {
  display: flex;
  
}
